<div class="ui form" [formGroup]="form">
  <!-- Date -->
  <div class="ui dividing header">{{form.getRawValue()._date | date}}</div>
  <div class="two fields">
    <!-- Start time -->
    <div class="field">
      <label for="input-start-time">Start Time</label>
      <div class="ui left icon input">
        <i class="clock icon"></i>
        <input id="input-start-time"
               formControlName="_startTime"
               suiDatepicker
               [pickerMode]="'time'">
      </div>
    </div>
    <!-- End time -->
    <div class="field">
      <label for="input-end-time">End Time</label>
      <div class="ui left icon input">
        <i class="clock icon"></i>
        <input id="input-end-time"
               formControlName="_endTime"
               suiDatepicker
               [pickerMode]="'time'">
      </div>
    </div>
  </div>
  <!-- Array header -->
  <!-- Time entry array -->
  <div formArrayName="_entries">
    <div *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i">
      <div class="three fields">
        <div class="field" formGroupName="_task">
          <label *ngIf="i === 0">Project</label>
          <input formControlName="_projectCode">
        </div>
        <div class="field" formGroupName="_task">
          <label *ngIf="i === 0">Task</label>
          <input formControlName="_code">
        </div>
        <div class="field" formGroupName="_duration">
          <label *ngIf="i === 0">Duration</label>
          <input formControlName="_decimal">
        </div>
      </div>
    </div>
  </div>
  <!-- Totals -->
</div>
